.balances {
    display: grid;
    align-items: flex-start;
    margin-top: 1%;
    background: #FFFFFF;
    padding: 1%;
}

.displayBalances {
    display: grid;
    align-items: flex-start;
    margin-top: 1%;
    background: #FFFFFF;
    padding: 1%;
    width: 80%;

}

.funding {
    width: 96%;
    height: 98%;
    margin-left: 5%;
    margin-top: 1%;
    padding-top: 15%;
    background: #FFFFFF;
    border-radius: 10px;

}

.withdrawFunds {
    width: 100%;
    margin-top: 1%;
    padding: 2%;
    background: #FFFFFF;
    border-radius: 1%;
}

.addFunds {
    width: 100%;
    padding: 2%;
    margin-top: 5%;
    background: #FFFFFF;
    border-radius: 1%;
}

.addWithdrawButton {
    background: #725AC1;
}

.addFunds:hover{
    border-color: #725AC1;
}

.withdrawFunds:hover{
    border-color: #725AC1;
}

.displayBalances:hover{
    border-color: #725AC1;
}USDCx

.funding:hover{
    border-color: #725AC1;
}

.balances:hover{
    border-color: #725AC1;
}