.connectWallet {
    position:absolute;
    top:0;
    right:0;
    color: #FFFFFF;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    margin-right: 5%;
    margin-top: 1%;
    background-color: black;
    border-color: black;
}

.connectWallet:hover{
    background-color: #FFFFFF;
    color: black;
    border-color: black;
    border-style: solid;
}