.streamList {
    /* margin-left: 1%; */
    margin-top: 3%;
    background-color: #FFFFFF;
}

.streamListTitle {
    margin-bottom: 0.5%;
    background-color: #FFFFFF;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 98.2%;
    margin-left: 0.9%;
}

.addStream {
    width: fit-content;
    margin-bottom: 2%;
    background: #725AC1;
    border-color: #725AC1;
    width: 98.2%;
    margin-left: 0.9%;
}

.addStream:hover{
    background-color: #FFFFFF;
    color: #725AC1;
    border-color: #725AC1;
}

.addStream:active{
    background-color: #725AC1;
    color: #FFFFFF;
    border-color: #725AC1;
}